img.album-img {
  max-width: 100%;
  max-height: 100%;
}

.imageContainer img {
  max-width: 100%;
}

.TagsCover {
  top: 0px;
  min-height: 351px;
}

.ProfilePosts-posts {
  margin-top: 311px;
}

body {
  margin: 0;
}


.App {
  padding: 16px;
}


.Navbar {
  padding: 16px;
  background: #222;
}

.NavbarContainer-left {
  font-size: 2em;
  font-weight: bold;
  float: left;
  padding: 8px;
}

.NavbarContainer-right {
  /* margin: 0 0 0 auto; */
  align-items: end;
  /* flex: 1; */
  justify-content: space-around;
  text-align: right;
  float: right;
  padding: 8px;
}

.NavbarContainer-left, .NavbarContainer-right {
  display: block;
}

.HomeNavbar {
  position: sticky;
  position: -webkit-sticky;
  padding: 0;
  display: inline-block;
  top: 0;
}

.Navbar {
  width: 100%;
  z-index: 1000;
  text-align: center;
  margin: 0 auto;
}

.NewCover {
  padding-top: 100px;
}

.Gallery-Content--title {
  font-family: Proxima Nova Regular,Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #b4b9c2;
  font-size: 12px;
  line-height: 12px;
}
