body {
  font-size: 100%;
  font-family: Proxima Nova Regular,Helvetica Neue,Helvetica,Arial,sans-serif;
  background-color: #2e3035;
  color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
}

.UserAvatar {
  display: block;
  height: 32px;
  width: 32px;
  background-size: cover;
}

.TagPill {
  box-shadow: 0 5px 5px rgba(0,0,0,.25);
  border-radius: 54px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: .02em;
  color: #eff1f4;
  text-shadow: 0 1px 4px #000;
  padding: 8px 30px;
  display: inline-block;
  font-family: Proxima Nova Bold,Helvetica Neue,Helvetica,Arial,sans-serif;
  transition: box-shadow .2s ease-out;
  text-transform: lowercase;
}

.GalleryComment {
  margin-bottom: 16px;
  cursor: pointer;
  position: relative;
}

.GalleryComment-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.GalleryComment-avatar-bar .avatar span {
  display: block;
  background-color: grey;
  border-radius: 100%;
  height: 24px;
  width: 24px;
  background-size: cover;
}

.GalleryComment-byLine .author-name {
  text-overflow: ellipsis;
  color: #01b96b;
  font-family: Proxima Nova Bold,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.GalleryComment-avatar-bar .avatar {
  margin: 2px 0;
  border-radius: 50%;
}

.GalleryComment-byLine {
  font-size: 12px;
  line-height: 12px;
  color: #b4b9c2;
  justify-content: space-between;
  align-items: center;
  color: #b4b9c2;
  margin-bottom: 4px;
}

.GalleryComment-avatar-bar {
  width: 24px;
  margin-right: 8px;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.GalleryComment-byLine .Meta {
  display: flex;
  align-items: center;
}

*, ::after, ::before {
  box-sizing: inherit;
}

.GalleryComment-replies {
  padding-left: 32px;
  padding-top: 12px;
}

.GalleryComment-body .commentObject {
  display: block;
  cursor: pointer;
  max-height: 100px;
  min-width: 50px;
  max-width: 500px;
  padding: 5px 0 0;
}

.GalleryComment-body {
  font-size: 15px;
  line-height: 150%;
  overflow-wrap: break-word;
  color: #eff1f4;
}

.GalleryComment-actions {
  color: #b4b9c2;
  font-family: Proxima Nova Bold,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 12px;
  line-height: 12px;
}

.GalleryComment-actions .points {
  padding: 0 6px;
}

.GalleryComment-actions .actions-btn {
  color: #b4b9c2;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

svg:not(:root) {
  overflow: hidden;
}

.Vote {
  position: relative;
}

.GalleryComment-actions .actions-btn.vote-btn {
  top: -1px;
}

.GalleryComment-actions .actions-btn {
  display: flex;
  align-items: center;
  border: 0;
  background-color: transparent;
  color: #b4b9c2;
  outline: none;
  /* cursor: pointer; */
  padding: 5px;
  position: relative;
  min-height: 19px;
  border-radius: 3px;
  height: 26px;
  justify-content: center;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.GalleryComment-actions {
  display: flex;
  margin: 4px 0 8px -5px;
  align-items: center;
  color: #b4b9c2;
  font-family: Proxima Nova Bold,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 12px;
  line-height: 12px;
}

.Gallery-ContentWrapper .Gallery-Content--media {
  max-width: 100%;
  margin-bottom: 24px;
  background-color: rgba(0,0,0,.1);
  min-height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Gallery-ContentWrapper .Gallery-Content--mediaContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a.author-link .UserAvatar {
  display: block;
}

.Gallery-Byline .Avatar {
  background-color: #43d0bd;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  overflow: hidden;
  transition: transform .2s ease-in-out;
}

.Gallery-Byline .Info-Wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 32px 0 12px;
  flex-grow: 1;
  justify-content: space-between;
  justify-content: space-around;
  overflow: hidden;
}

.Gallery-Byline .Info-Wrapper .Meta {
  font-family: Proxima Nova Regular,Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #b4b9c2;
  font-size: 12px;
  line-height: 12px;
}

.Gallery-Byline .Info .author-name {
  min-width: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: Proxima Nova Bold,Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #1bb76e;
  cursor: pointer;
}

.Gallery-Byline .Info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 14px;
  font-family: Proxima Nova Bold,Helvetica Neue,Helvetica,Arial,sans-serif;
  align-items: center;
}

a {
  color: #01b96b;
  text-decoration: none;
}

.Gallery-Byline {
  display: flex;
  justify-content: flex-start;
  height: 32px;
  margin: 16px 0 24px;
}

.Gallery-Title {
  font-family: Proxima Nova Bold,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 28px;
  line-height: 130%;
  color: #fff;
  overflow-wrap: break-word;
}

.Gallery-Header {
  position: relative;
  z-index: 1;
}

.Gallery-Byline .Info-Wrapper .Meta .delimiter {
  padding: 0 5px;
}

.GalleryComment-byLine .delimiter {
  margin: 0 8px;
}

.Gallery-Content--tags .TagPill {
  margin-top: 10px;
  margin-right: 10px;
}

.Gallery-ContentWrapper .Gallery-Content--descr {
  margin-bottom: 24px;
  padding: 0 24px;
  font-family: Proxima Nova Regular,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: hsla(0,0%,100%,.9);
  white-space: pre-wrap;
  word-wrap: break-word;
}

.CommentsList-headline {
  background: repeat-x 0 100% url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1' height='1'%3E%3Cpath fill='%23585D6A' d='M0 0h1v.5H0z'/%3E%3C/svg%3E");
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 14px;
  margin-bottom: 16px;
  margin-top: 46px;
}

.CommentsList-headline--counter {
  font-family: Proxima Nova Bold,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: .06em;
  text-transform: uppercase;
  color: #dadce2;
  flex-grow: 1;
}


/* USER POSTS */
.ProfilePost {
  width: 320px;
  display: inline-block;
  margin: 0 8px;
}

.Post-item {
  /* height: 100%; */
  display: block;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: 145px;
  position: relative;
  color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.4);
  background-color: #2e3035;
  transition: box-shadow .25s;
  -webkit-transition: box-shadow .25s;
}

.Post-item-container {
  /* height: 100%; */
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.Post-item-media {
  overflow: hidden;
}

.Post-item-meta {
  position: absolute;
  top: 15px;
  right: 15px;
  left: 15px;
  font-size: 12px;
  line-height: 16px;
}

.Post-item-media img {
  width: 100%;
}

.Post-item-info, .PostInfo {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: .3px;
}

.Post-item-info {
  justify-content: space-between;
  color: hsla(0,0%,100%,.6);
  min-height: 8px;
  padding: .5rem 1rem;
  color: #b4b9c2;
}

.Post-item-title {
  font-weight: 600;
  line-height: 1.14;
  font-size: 14px;
  text-align: left;
  color: #fff;
  display: inline-block;
  max-height: 45px;
  overflow: hidden;
  padding: 0 15px;
}

.Media {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Post-item-stat {
  z-index: 1;
  opacity: .65;
}

.MediaBody {
  margin: 0 .25rem;
}

.Post-item-media .imageContainer {
  max-height: 500px;
}

.Post-item-media .PostVideo {
  max-height: 500px;
}

/* USER HEADER */

.ProfileMeta-stats {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 8px;
  cursor: default;
}

.ProfileCover-header {
  height: 258px;
  /* padding: 52px 0 0; */
  padding: 52px 16px 0;
  width: 100%;
  margin: 0 auto;
  min-width: 450px;
  z-index: 1;
}

.ProfileMeta {
  display: flex;
  justify-content: flex-start;
}

.ProfileMeta .UserAvatar {
  position: relative;
  height: 128px;
  width: 128px;
  overflow: hidden;
  flex-grow: 0;
  flex-shrink: 0;
}

.UserAvatar {
  border-radius: 50%;
  background: grey;
  background-image: none;
  background-size: cover;
}

.ProfileMeta-data {
  margin: auto 24px;
  color: #f2f2f2;
  overflow: hidden;
}

.ProfileMeta-user {
  font-size: 44px;
  font-family: Proxima Nova ExtraBold,Helvetica Neue,Helvetica,Arial,sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ProfileMeta-divider {
  margin: auto 15px;
}


/* TAG HEADER */

.Cover-item-count {
  text-transform: uppercase;
}

.Cover-stats {
  font-size: 16px;
  margin: 13px 0 20px;
}

.Cover-description {
  margin: 0 0 10px;
  font-size: 22px;
  max-width: 390px;
}

Cover-description, .Cover-name, .Cover-stats {
  text-align: center;
}

.Cover-name {
  font-size: 52px;
  color: #fff;
  margin: 0;
  font-family: Proxima Nova ExtraBold,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.Cover-metadata {
  position: relative;
  margin: 0 auto;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  z-index: 0;
}

.NewCover-change-sort-wrapper .Dropdown, .NewCover .Cover-metadata {
  margin: auto;
}

.NewCover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-size: cover;
  background-position: 50%;
  background-color: #474a51;
  /* padding-bottom: 76px; */
  opacity: 1;
  transition: opacity .5s,box-shadow .4s;
}

.App-cover {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
